/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&display=swap');

body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calendarContainer {
  font-family: "Lobster";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5%;
  /* background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(23,100%,74%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(184,100%,56%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(350,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(335,100%,76%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(17,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(237,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(338,100%,76%,1) 0px, transparent 50%); */
  background-color: mediumslateblue;
}

.calendarContainer__clockContainer{
  
  color: white;
  background-color: transparent;
  border-radius: 25px;
  outline: 3px solid white;
  width: 12%;
}

.calendarContainer__clockContainer__clock {
  /* padding: 0 15px 10px; */
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.calendarContainer__calendar {
  border-radius: 25px;
  width: 60%;
  background-color: white;
  font-size: 1.5rem;
}

.calendarContainer__calendar__buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3% 0;
}

.calendarContainer__calendar__buttonsContainer__buttonContainer {
  border-radius: 25px;
  text-align: center;
  padding: 0 10px 6px;
  color: black;
  transition: 0.05s;
}

.calendarContainer__calendar__buttonsContainer__buttonContainer__button {
  font-size: 1.2rem;
  text-align: center;
  user-select: none;
}

.calendarContainer__calendar__buttonsContainer__buttonContainer:hover {
  z-index: 100;
  outline: 2px solid black;
  cursor: pointer;

}

.calendarContainer__calendar__buttonsContainer__buttonContainer:active{
  background-color: black;
  color: white;
}

.calendarContainer__calendar__Month{
  color: black;
  font-size: 2rem;
  text-align: center;
  margin: 3% 0 0
}

.calendarContainer__calendar__listContainer{
  margin: 6% 3%;
  border: 5px black;
  
}

.calendarContainer__calendar__listContainer__dayLIst {
  display: flex;
  list-style: none;
  padding: 0;

}

.calendarContainer__calendar__listContainer__dayLIst__day {
  flex: 1;
  text-align: center;
 
}

.calendarContainer__calendar__listContainer__dateList {
  display: flex;
  list-style: none;
  color: black;
  padding: 0;
}

.calendarContainer__calendar__listContainer__dateList__date {
  flex: 1;
  text-align: center;
}

